@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;

}

* {
  outline: none;
}

html, body, body>#root, #app, #app>div {
  min-height: 100% !important;
}

.MuiAutocomplete-inputRoot[class*="MuiOutlinedInput-root"]{
  padding-top: 2px !important;
  padding-bottom: 0 !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.body-content {
  /* Height of screen without header & footer */
  min-height: calc(100vh);
}

.min-h-screen {
  min-height: 100vh;
}

.p-none {
  padding: 0 !important;
}

.header-drop-down-triangle {
  width: 0; 
  height: 0; 
  border-left:   10px solid transparent;
  border-right:  10px solid transparent;
  border-bottom: 10px solid white;
}

.MuiAccordion-root {
  @apply bg-gray-100 !important;
}

.z-200-important {
  z-index: 200 !important;
}

.z-300-important {
  z-index: 300 !important;
}

.text-xxs {
  font-size: .6rem;
}

.spc-card {
  position: relative;
  min-width : 12rem;

  &::after {
  
  }
}

.ig-card .MuiInputBase-root {
  @apply bg-gray-100;
}

.ig-card .MuiSelect-root {
  @apply bg-gray-100;
}


/* CSS FROM PeculiarCertificateViewer */
:root{--pv-color-dark-rgb:42, 49, 52;--pv-color-light-rgb:255, 255, 255;--pv-color-grey_3-rgb:209, 213, 217;--pv-color-grey_5-rgb:134, 145, 150;--pv-color-attention-rgb:247, 168, 49;--pv-color-primary-rgb:53, 132, 247;--pv-font-size-h4:17px;--pv-font-size-h6:15px;--pv-font-size-h7:14px;--pv-font-size-b1:15px;--pv-font-size-b3:13px;--pv-font-family:"Open Sans", "Arial", sans-serif;--pv-letter-spacing-normal:0.03em;--pv-line-height-normal:1.4}

.MuiButton {
  text-transform: lowercase !important;
}