API_NAME="Ignisign Example NodeJS BackEnd"

PORT=4242
MY_SERVER_URL=http://localhost:4242

## Configuration for APP_TYPE = SIGNATURE
# Ignisign API credentials for managed signature

# SIGNATURE | BARE_SIGNATURE | SEAL | LOG_CAPSULE
IGNISIGN_APP_TYPE=SIGNATURE
IGNISIGN_APP_ID=TODO
# DEVELOPMENT STAGING or PRODUCTION
IGNISIGN_APP_ENV=DEVELOPMENT 
IGNISIGN_APP_SECRET=TODO

# IGNISIGN_M2M_ID=TODO
# IGNISIGN_M2M_PRIVATE_KEY=-----BEGIN PRIVATE KEY-----\n INLINED PRIVATE KEY \n-----END PRIVATE KEY-----

# This is the URL of the private proof generator module
# This is a module that is used to generate the proof of signature of a private file
# Obtaining this module needs to be done through a commercial agreement with Ignisign
# If you are interested in this module, please contact us at contact@ignisign.io
#IGNISIGN_PRIVATE_PROOF_GENERATOR_URL=http://localhost:4243