SKIP_PREFLIGHT_CHECK=true
PORT=3456
REACT_APP_BACKEND_ENDPOINT=http://localhost:4242

# (OPTIONAL) a default email that set is set by default when you create a user
REACT_APP_EMAIL=TODO
# (OPTIONAL) a default phone number that set is set by default when you create a user
REACT_APP_PHONE=TODO
